
.faq {
    max-width: 800px;
    margin: 0 auto;
  }
  .faq h1{
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
  .faq-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 25px 0;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .faq-item.open .faq-answer {
    display: block;
  }
  
  .faq-question {
    font-weight: bold;
  }
  
  .faq-answer {
    display: none;
    margin-top: 10px;
  }